*{
    padding: 0;
    margin: 0; 
    -webkit-tap-highlight-color: transparent;
}
.themeToggle{
    height: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggleButton{
    background-color: #fff;
    height: 20px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black ;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.toggleButton::before{
    position: absolute;
    content: '';
    background-color: #d2d2d2;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.2s;
}
input:checked + .toggleButton{
    background-color: #3f3f3f;
}
input:checked + .toggleButton::before{
    transform: translateX(20px);
}
input{
    display: none;
}